.rounded-img {
  width: 60%;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 0.6em;
  margin-bottom: 1em;
}

html,
body {
  font-family: "Raleway", sans-serif;
  /* padding: 1em 2em; */
  font-size: 18px;
  background: #222;
  color: #aaa;
}
.navbar {
  /* position: fixed; */
  width: 100%;
}

.sidepanel {
  position: fixed;
  left: 60px;
  top: 240px;
  height: 400px;
  width: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.sidepanel__text {
  width: 120px;
  height: 120px;
  font-size: 14px;
}
.sidepanel__text span {
  display: flex;
  transform: rotate(-90deg) translateX(-50px);
}
.sidepanel__divider {
  width: 1px;
  height: 165px;
  background-color: #000;
}
.sidepanel__icon {
  width: 24px;
  height: 24px;
}
.sidepanel__icon img {
  width: 100%;
}

h1,
h2 {
  font-weight: 150;
  margin: 0.4em 0;
}
h1 {
  font-size: 2em;
  text-align: left;
}
h2 {
  color: #888;
  font-size: 2em;
}
a img {
  /* display: block; */
  width: 45px;
  height: 45px;
}
#codewars {
  width: 20em;
}

/* .skill {
  display: flex;
  flex-wrap: wrap;
}
.skill .card {
  position: relative;
  background-color: #1d293a;
  padding: 25px 25px 35px;
  margin: 15px;
  border-radius: 4px;
} */
/* .divider {
  width: 80%;
  height: 1px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 0px 4px #717374;
} */
.skills {
  margin-top: 20px;
  background-color: #0b0b0b;
  padding: 20px 0 20px 0;
}
.skills p {
  font-size: 30px;
  padding-left: 140px;
}
.skill-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}
.skill-wrapper .card {
  position: relative;
  width: 40%;
  background-color: #2b2c3839;
  padding: 25px 0 25px 0;
  margin: 15px;
  border-radius: 4px;
  box-shadow: 0px 0px 4px #717374;
}
.skill-name {
  font-size: 25px;
  padding-left: 11px;
}

.skill-progress {
  width: 100%;
  height: 20px;
  background-color: #2d2d2d;
  position: relative;
  border-radius: 5px;
  margin-top: 13px;
}

.progress-bar {
  width: 60%; /* Здесь задается процент владения навыком */
  height: 100%;
  background-color: #2fc57077;
  border-radius: 5px;
}

.progress-percent {
  position: absolute;
  top: 0px;
  right: 43%;
  line-height: 20px;
  padding: 0 10px;
  /* background-color: #ccc; */
  color: #fff;
}
